In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [37]:
from sklearn import datasets
x,y= datasets.make_classification(n_samples=10**3, n_features = 10, random_state=90907)

In [38]:
print(x,y)

[[-2.49369841 -0.79728827  1.25586233 ... -0.77986064  1.17633047
  -0.72376801]
 [ 1.52704293 -0.18802508 -0.15263428 ...  0.76458038 -1.51047794
   0.61208275]
 [ 0.40000178  0.738187    2.30575699 ...  0.11700108 -0.87845574
   1.1463606 ]
 ...
 [ 0.14158509 -0.3366037  -0.61117067 ...  0.63776188 -1.07334886
   1.13678312]
 [-0.46277935 -0.88460426 -2.66973169 ... -0.33144902  0.58708796
   0.00394599]
 [ 0.24450956 -1.10323916 -0.74771327 ...  0.57488256  1.25302166
  -1.16883042]] [1 1 0 0 0 1 0 0 1 1 1 1 1 0 1 0 1 0 1 1 0 1 1 1 0 1 1 1 0 0 0 0 0 1 0 0 0
 1 1 0 1 1 0 1 0 0 1 1 1 1 0 1 1 1 0 0 1 0 1 1 0 1 1 1 0 1 0 0 0 1 1 1 1 1
 0 0 1 0 0 0 0 1 1 1 0 1 1 0 1 1 0 1 1 0 0 1 1 1 0 1 0 0 1 1 0 1 1 0 1 0 0
 0 1 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 0 1 0 1 0 1 1 1 1 0 1 0 1 0 0 0 0 0 0 0
 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 0 0 1 1 0 0 0 0 1 1 0 1 1 1 1 1 0 0 0 0 1 1
 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1 1 0 0 1 1 0 1 0
 0 1 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 1 1 0 1 1 0 0 1 0 1 1 0 0 1 0 1 0 1 0 1
 1 1 1 0 1 1 1 0 0 1 1 0 1 1 1 0 0 1 1 1 1 1 0 1 1 1 1 1 0 0 1 0 1 1 1 1 0
 1 1 0 0 0 0 0 1 0 0 1 0 0 1 1 0 0 1 0 1 1 1 1 1 0 1 0 1 0 1 0 1 0 0 0 1 0
 0 0 1 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 1 1 1 0 0 1 1 1 0 1 1 1 0 1 1 1 1 0 0
 1 0 1 1 0 1 0 1 1 0 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 1 0 1 1 1 1 1 1 1 0 1 0
 0 0 0 0 0 1 0 1 1 0 0 0 0 1 1 1 0 0 0 1 1 0 0 1 1 0 1 0 1 1 0 0 0 1 0 0 1
 1 1 0 0 1 1 0 1 1 1 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 1 1 0 1 1 0 0 0 1 0 0 1
 0 1 0 1 0 1 1 1 0 0 0 1 1 0 0 1 1 1 1 1 0 1 1 1 0 1 0 0 1 0 1 0 0 0 1 0 0
 0 0 1 1 0 1 0 1 0 0 1 1 1 0 0 0 1 0 1 1 0 1 0 1 1 1 0 1 1 0 1 0 0 1 1 0 1
 0 1 0 0 1 0 0 0 1 1 0 0 0 1 1 0 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1
 1 1 1 0 1 1 1 0 0 1 0 0 1 1 1 0 0 1 1 0 0 1 1 0 0 0 1 1 1 1 0 1 0 1 1 0 0
 1 0 1 1 1 0 1 1 0 0 1 0 0 1 1 1 1 0 0 0 0 0 1 1 1 0 0 1 0 0 0 1 1 1 0 0 1
 0 1 0 1 0 1 0 1 0 0 1 1 1 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 1 1 1 1 1 1 0 0
 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 1 0 1 1 1 1 0 1 0 0 0
 0 1 0 0 0 1 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 1 0 1 1 0 1 0 0 0 1 1 1 0 0 1
 1 1 1 1 0 0 0 1 0 1 1 0 1 0 1 1 1 1 0 0 0 1 0 1 1 0 0 0 1 1 1 1 1 0 1 0 1
 0 0 1 1 0 1 1 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 0 0 1 0 0 0
 1 1 1 1 1 0 1 0 1 1 0 1 1 0 0 1 1 0 1 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 1 1
 0 0 1 0 1 0 0 0 1 0 0 0 0 0 1 1 0 1 1 0 1 1 1 0 0 0 0 0 1 0 1 0 1 1 1 0 1
 0 1 0 0 1 0 1 1 1 0 1 0 0 1 1 1 0 1 0 0 1 0 1 0 1 1 0 1 0 0 0 1 1 0 0 0 0
 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 1 1 0 0 0 1 1 1 0 1 0 1 1 0 0 0 0 1 0 0 0 0
 1]

In [39]:
X=pd.DataFrame(x)

In [40]:
X.head(6)

,0,1,2,3,4,5,6,7,8,9
0,-2.493698,-0.797288,1.255862,0.700283,-0.383257,-0.892069,-0.721391,-0.779861,1.176330,-0.723768
1,1.527043,-0.188025,-0.152634,-1.099945,1.605062,0.458749,-2.143829,0.764580,-1.510478,0.612083
2,0.400002,0.738187,2.305757,-0.139626,-1.839035,0.201108,0.087961,0.117001,-0.878456,1.146361
3,-0.090026,0.468059,-1.332195,1.005004,-0.956669,0.452772,-0.001155,1.208030,1.551497,-0.825976
4,-1.999989,1.488944,-1.067791,1.033251,-1.638997,0.817252,0.725115,2.336555,1.374767,-0.506304
5,-0.006413,1.778897,0.651437,-1.146710,1.697646,-0.831925,0.275587,-0.660412,-1.566514,0.625371

In [41]:
print(X[1][5])

1.7788967522238455